.MainPage{
    background-image: url('../icon/002.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}
.MainPage-btn-Container{
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}
.MainPage > span{
    display: block;
}
.MainPage-btn-Container > button{
    display: block;
    margin: 30px auto;
}
.Logo-Container{
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    margin-left: 25px;
    margin-right: 25px;
}
.Logo{
    width: 80%;
}

@media screen and (max-width: 750px) {
    .Logo{
        width: 720px;
    }
}


span{
    color: aliceblue;
}
