.MyPage {
    width: 100%;
    height: 100%;
    background-image: url('../icon/002.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
.MyPage_Content {
    display: flex;
}

.MyPage_Content-left {
    margin-top: 50px;
    width: 50%;
}

.MyPage_Content-right {
    margin-top: 50px;
    width: 50%;
}

.MyPage_Content-setImg{
    width: 80%;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}
.MyPage_Content-UserInfo{
    justify-content: center;
}
.MyPage_Content-UserInfo > span{
    color: white;
    width: 80%;
    font-size: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    padding: 20px 0px;
    border: 1px solid rgb(255, 255, 255);
}

.btn-gamestart{
    width: 80%;
}

.MyPage_Content-Rank-container{
    display: flex;
    float: left;
    border: 1px solid rgb(255, 255, 255);  
    border-radius: 20px;
    width: 90%;
    /* padding: 10px 150px; */
    
}

.Rank-container_Badge{
    width: 150px;
    height: 150px;
}

.Rank-container_Score,
.Rank-container_Rank{
    /* margin: 0px 30px; */
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-title{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
    display: block;
    margin-bottom: 50px;
}

.container-content{
    background-color: bisque;
    /* width: 100px; */
    padding : 30px 30%;
    
    border-radius: 25px;
    font-size: 20px;
    font-weight: 800;
}


.MyPage_Content-Unlocked-container{
    margin-top: 20px;
    /* display: flex; */
    float: left;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);  
    border-radius: 20px;
    width: 90%;
}
