.MyPage {
    width: 100%;
    height: 100%;
    background-image: url('../icon/002.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
    width: min(100% -15px, 840px);
    margin-inline: auto;
    background-color: #1C2458;
    overflow: auto;
    
}

.MyPage_Content {
    display: flex;
}

.MyPage_Content-left {
    width: 50%;
    float: left;
    height: 100%;

}

.MyPage_Content-right {
    width: 50%;
    float: right;
    height: 100%;
}

.MyPage_Content-img{
    width: 650px;
    height: 700px;
    display: flex;
    justify-content:center;
    position: relative;
    /* align-items: flex-start; */
}

.MyPage_Content-userImg{
    width: 650px;
    height: 700px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}
.MyPage_Content-itemImg{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-left: 10px;

}

.MyPage_Content-UserInfo{
    justify-content: center;
    background-color: #1f1f1f;
    width: 80%;
    border-radius: 35px;
    margin-bottom: 10px;
    padding: 10px 0px;
}


.btn-gamestart{
    width: 80%;
}

.container-title{
    text-align: center;
    color:rgb(255, 159, 41);
    font-size: 50px;
    font-weight: 800;
    display: block;
    border-bottom: 1px solid  #3f3f3f; ;
    font-family: 'Gamja Flower', cursive;


}

.container-content{
    background-color: bisque;
    width: 100px;
    padding : 30px 30%;
    
    border-radius: 25px;
    font-size: 20px;
    font-weight: 800;
}

.MyPage_Content-Item-container,
.MyPage_Content-NFT-container{
    margin-top: 20px;
    /* display: flex; */
    /* float: left; */
    justify-content: center;
    /* border: 1px solid rgb(255, 255, 255);   */
    border-radius: 20px;
    width: 90%;
    height: 45%;


    background-color: #1f1f1f;
}

@media screen and (max-width: 2110px) {
    .MyPage{
        overflow: auto;
    }

    .MyPage_Content {
        display: grid;
    }
    
    .MyPage_Content-left {
        width: 100%;
        margin-bottom: -40px;

    }

    .MyPage_Content-right {
        width: 100%;
        padding:5%;
        padding-bottom: 0;
    }

    .MyPage_Content-NFT-container{
        margin-top: 70px;
    }
    
}

@media screen and (max-width: 960px) {
    .MyPage_Content-left {
        padding-left: 2%;

    }
}

@media screen and (max-width: 885px) {
    .MyPage_Content-left {
        padding-left: 0.1%;

    }
}

.MyPage_Header{
    margin-top: 0.5%;
    margin-bottom: 2%;
    
}



.userInfo{
    margin: 10px 0px;
    padding: 10px;
    width: 80%;
    border: 1px solid  #3f3f3f;
    border-radius: 10px;
    
}
.userInfo-title{
    margin-top: 10px;
    margin-left: 10px;
    color:rgb(255, 159, 41);
    font-weight: 700;
    font-size: 30px;
    /* float: left; */
    text-align: left;
    font-family: 'Gamja Flower', cursive;
}

.userInfo-content{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    font-family: 'Gamja Flower', cursive;
}

.itembox{
    padding: 10px;
}

