.item-component__header{
    display: grid;
    justify-content: space-between;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 0px;
    margin-bottom: 10px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    border-bottom: 1px solid rgba(255,255,255,0.8); ;
}

.itemListItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.itemListItem > div{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}


@media screen and (max-width: 2110px) {
    .itemListItem{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    }
}

@media screen and (max-width: 1420px) {
    .itemListItem{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
}

@media screen and (max-width: 1080px) {
    .itemListItem{
        grid-template-columns: 1fr 1fr 1fr;
    
    }
}

@media screen and (max-width: 960px) {
    .itemListItem{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 885px) {
    .itemListItem{
        grid-template-columns: 1fr 1fr;
    }
}